# Build Artifacts
*.hex
*.bin
*.elf
*.o
*.a
*.so
build/
dist/

# IDE Files
.vscode/
.idea/
*.sublime-workspace
*.swp

# OS Files
Thumbs.db
.DS_Store

# Local Environment
tools/
arduino_data/

# Logs
*.log
